@{
    ViewData["Title"] = "Home Page";
}

List all Referee

<ul>
    <li><a asp-action="Edit" asp-controller="Referee">Dag Olsson</a></li>
    <li><a asp-action="Edit" asp-controller="Referee">Börje Johansson</a></li>
</ul>

<a asp-controller="Referee" asp-action="New">New</a>