@{
    ViewData["Title"] = "Home Page";
}

List all Players

<ul>
    <li><a asp-action="Edit" asp-controller="Player">Peter Forsberg</a></li>
    <li><a asp-action="Edit" asp-controller="Player">Mats Sundin</a></li>
    <li><a asp-action="Edit" asp-controller="Player">Niklas Lidström</a></li>
</ul>


<a asp-controller="Player" asp-action="New">New</a>